.app-reset-pass {
    min-height: 100vh;
    background: linear-gradient(
        to right,
        var(--PRIMARY-COLOR-TINT-LVL5),
        var(--PRIMARY-COLOR-TINT-LVL4)
      );

      padding: var(--MEDIUM-SIZE);

      display: flex;
      flex-direction: column;
      gap: var(--MEDIUM-SIZE);
}

.app-reset-pass__header {

}

.app-reset-pass__header-title {
    
}

.app-reset-pass__header-link:any-link {
    font-size: var(--FONT-LARGE-V2);
    color: var(--GRAY-COLOR-SHADE-LVL1);
    text-decoration: none;
    font-weight: var(--FONT-WEIGHT-BOLDER);
}

.app-reset-pass__header-link:active,
.app-reset-pass__header-link:hover {
/* no styles needed */
}

.app-reset-pass__header-link:focus {
    /* no styles needed */
}